

<main class="main">
  <div class="content">
    <div class="left-side">
      <img src="C:\Users\juanl\OneDrive\Imágenes\WORKSPACE\ANGULAR Y MS\mslogo.png" alt="Logo de MicroSIP" class="logo">
      <h3>microsip</h3>
      <p>CORPORATIVO </p>
     </div>
      <div class="divider" role="separator" aria-label="Divider"></div>
      <div class="right-side">
       <div>
        <br>
       </div>
        <button class="btn btn-outline-primary"  (click)="listar()"> 
          LISTA
        </button>
        <button class="btn btn-outline-secondary" (click)="nuevo()">
         NUEVO
        </button>
      </div>
  </div>
</main>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet></router-outlet>
